<div class="container drag-boundary" *ngIf="member" #container>
  <button
    mat-fab
    cdkDrag
    #cdkDrag="cdkDrag"
    cdkDragBoundary=".drag-boundary"
    class="export-pdf"
    (click)="onExportPDF()"
    [cdkDragFreeDragPosition]="pdfButtonPoint"
    (cdkDragStarted)="onCdkDragStart()"
    (cdkDragEnded)="onCkdDragDropped($event, container)"
    #exportBtn
  >
    <mat-icon *ngIf="!exporting">picture_as_pdf</mat-icon>
    <app-loading *ngIf="exporting"></app-loading>
  </button>
  <div *ngIf="currentHoroscope" class="container" #pdfTemp>
    <div class="panel-content">
      <div>
        <div class="table-header">
          <div class="title">
            {{ member.name }}
          </div>
          <div class="control">
            <button mat-button (click)="onAddYear(-1)" [disabled]="currentYear <= minYear">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <input class="input-year" [value]="currentYear" (change)="updateYear(input.value)" #input />
            <button mat-button (click)="onAddYear(1)" [disabled]="currentYear >= maxYear">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>

        <table class="main-table">
          <thead>
            <tr>
              <th>時柱</th>
              <th>日柱</th>
              <th>月柱</th>
              <th>年柱</th>
              <th class="no-border"></th>
              <th>大運</th>
              <th>流年</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <ng-container *ngVar="currentHoroscope.horoscopeResult.gan.reaction as reaction">
                <td [ngClass]="getGanZhiResultClass(reaction.time)">{{ currentHoroscope.myFateSet.gan[0] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.day)">{{ currentHoroscope.myFateSet.gan[1] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.month)">{{ currentHoroscope.myFateSet.gan[2] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.year)">{{ currentHoroscope.myFateSet.gan[3] }}</td>
                <td class="no-border"></td>
                <td [ngClass]="getGanZhiResultClass(reaction.bigFortune)">
                  {{ currentHoroscope.bigFortune.gan ? currentHoroscope.bigFortune.gan : '未起運' }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.yearFortune)">
                  {{ currentHoroscope.yearFortune.gan }}
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container *ngVar="currentHoroscope.horoscopeResult.zhi.reaction as reaction">
                <td [ngClass]="getGanZhiResultClass(reaction.time)">{{ currentHoroscope.myFateSet.zhi[0] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.day)">{{ currentHoroscope.myFateSet.zhi[1] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.month)">{{ currentHoroscope.myFateSet.zhi[2] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.year)">{{ currentHoroscope.myFateSet.zhi[3] }}</td>
                <td class="no-border"></td>
                <td [ngClass]="getGanZhiResultClass(reaction.bigFortune)">
                  {{ currentHoroscope.bigFortune.zhi ? currentHoroscope.bigFortune.zhi : '未起運' }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.yearFortune)">
                  {{ currentHoroscope.yearFortune.zhi }}
                </td>
              </ng-container>
            </tr>
            <tr class="margin-line"><td colspan="7"></td></tr>
          </tbody>
          <tfoot *ngIf="currentHoroscope">
            <tr>
              <td colspan="3">
                <div class="result-board">
                  <div class="score-board">
                    <span>天干受剋: </span>
                    <ul *ngIf="currentHoroscope.horoscopeResult.gan.scores.length; else none">
                      <li *ngFor="let score of currentHoroscope.horoscopeResult.gan.scores">
                        {{ score }}
                      </li>
                    </ul>
                    <ng-template #none>
                      <span>無</span>
                    </ng-template>
                  </div>
                  <div class="yinyan-board">
                    <div>
                      天干陽流通: <br />
                      {{ getYanScoreChanged(currentHoroscope.horoscopeResult.gan) | async }}
                    </div>
                    <div>
                      天干陰陽流通: <br />{{ getYinYanScoreChanged(currentHoroscope.horoscopeResult.gan) | async }}
                    </div>
                  </div>
                </div>
              </td>
              <td colspan="4">
                <div class="result-board">
                  <div class="score-board">
                    <span>地支受剋: </span>
                    <ul *ngIf="currentHoroscope.horoscopeResult.zhi.scores.length; else none">
                      <li *ngFor="let score of currentHoroscope.horoscopeResult.zhi.scores">
                        {{ score }}
                      </li>
                    </ul>
                    <ng-template #none>
                      <span>無</span>
                    </ng-template>
                  </div>
                  <div class="yinyan-board">
                    <div>
                      地支陽流通: <br />
                      {{ getYanScoreChanged(currentHoroscope.horoscopeResult.zhi) | async }}
                    </div>
                    <div>
                      地支陰陽流通: <br />
                      {{ getYinYanScoreChanged(currentHoroscope.horoscopeResult.zhi) | async }}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="side-info">
        <div class="bad-property-mapping">
          <div>
            <app-bad-property-chart
              [badPropertyMappingList]="currentHoroscope.badPropertyList"
            ></app-bad-property-chart>
          </div>
          <hr />
          <div class="accent-chart">
            <div class="side-row">
              <div class="side-text">合</div>
              <div class="side-value color-strip match"></div>
            </div>
            <div class="side-row">
              <div class="side-text">剋</div>
              <div class="side-value color-strip anti"></div>
            </div>
            <div class="side-row">
              <div class="side-text">斷氣</div>
              <div class="side-value color-strip cut"></div>
            </div>
          </div>
        </div>
        <div class="user-detail">
          <div *ngIf="chineseZodiac" class="detail-row">
            <span>生肖: </span>
            <span>{{ chineseZodiac }}</span>
          </div>
          <div *ngIf="member.handSize" class="detail-row">
            <span>手圍: </span>
            <span>{{ member.handSize }}</span>
          </div>
          <div *ngIf="member.fortunetellingType" class="detail-row">
            <span>精批或詳批: </span>
            <span>{{ member.fortunetellingType }}</span>
          </div>
          <div class="detail-row">
            <span>批算哪一年的運程: </span>
            <span>{{ member.atYear || currentYear }}</span>
          </div>
          <div *ngIf="member.crystalStyle" class="detail-row">
            <span>選擇的隔珠款式: </span>
            <span>{{ member.crystalStyle }}</span>
          </div>
          <div *ngIf="member.job" class="detail-row">
            <span>工作與是否有狀況要跟Novus講: </span>
            <span>{{ member.job }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-liuyue">
      <table>
        <thead>
          <tr>
            <th>月份</th>
            <th>時柱</th>
            <th>日柱</th>
            <th>月柱</th>
            <th>年柱</th>
            <th>大運</th>
            <th>流年</th>
            <th>流月</th>
            <th>評分</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let liuYue of currentHoroscope.monthFortune; let last = last">
            <tr>
              <ng-container *ngVar="liuYue.ganResult.reaction as reaction">
                <td rowspan="2">{{ liuYue.month }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.time)">{{ currentHoroscope.myFateSet.gan[0] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.day)">{{ currentHoroscope.myFateSet.gan[1] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.month)">{{ currentHoroscope.myFateSet.gan[2] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.year)">{{ currentHoroscope.myFateSet.gan[3] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.bigFortune)">
                  {{ currentHoroscope.bigFortune.gan ? currentHoroscope.bigFortune.gan : '未起運' }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.yearFortune)">
                  {{ currentHoroscope.yearFortune.gan }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.monthFortune)"> {{ liuYue.gan }} </td>
                <td>
                  <div class="menu-item" mat-menu-item [matMenuTriggerFor]="menu">
                    <mat-menu #menu="matMenu">
                      <ng-container
                        [ngTemplateOutlet]="yinYanResult"
                        [ngTemplateOutletContext]="{ result: liuYue.ganResult }"
                      ></ng-container>
                    </mat-menu>
                    <ul>
                      <li *ngFor="let score of liuYue.ganResult.scores">{{ score }}</li>
                    </ul>
                  </div>
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container *ngVar="liuYue.zhiResult.reaction as reaction">
                <td [ngClass]="getGanZhiResultClass(reaction.time)">{{ currentHoroscope.myFateSet.zhi[0] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.day)">{{ currentHoroscope.myFateSet.zhi[1] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.month)">{{ currentHoroscope.myFateSet.zhi[2] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.year)">{{ currentHoroscope.myFateSet.zhi[3] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.bigFortune)">
                  {{ currentHoroscope.bigFortune.zhi ? currentHoroscope.bigFortune.zhi : '未起運' }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.yearFortune)">
                  {{ currentHoroscope.yearFortune.zhi }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.monthFortune)">
                  {{ liuYue.zhi }}
                </td>
                <td>
                  <div class="menu-item" mat-menu-item [matMenuTriggerFor]="menu">
                    <mat-menu #menu="matMenu">
                      <ng-container
                        [ngTemplateOutlet]="yinYanResult"
                        [ngTemplateOutletContext]="{ result: liuYue.zhiResult }"
                      ></ng-container>
                    </mat-menu>
                    <ul>
                      <li *ngFor="let score of liuYue.zhiResult.scores">{{ score }}</li>
                    </ul>
                  </div>
                </td>
              </ng-container>
            </tr>
            <tr *ngIf="!last" class="margin-line">
              <td colspan="9"></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template let-result="result" #yinYanResult>
  <div class="menu-template">
    <div>陽流通: <br />{{ getYanScoreChanged(result) | async }}</div>
    <div>陰陽流通: <br />{{ getYinYanScoreChanged(result) | async }}</div>
  </div>
</ng-template>
