<div class="container drag-boundary" *ngIf="member" #container>
  <div *ngIf="currentHoroscope" class="container" #pdfTemp>
    <div class="panel-content">
      <div>
        <div class="table-header">
          <div class="title">
            {{ member.name }}
          </div>
          <div class="control">
            <button mat-button (click)="onAddYear(-1)" [disabled]="currentYear <= minYear">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <input class="input-year" [value]="currentYear" (change)="updateYear(input.value)" #input />
            <button mat-button (click)="onAddYear(1)" [disabled]="currentYear >= maxYear">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>

        <app-horoscope-table [currentHoroscope]="currentHoroscope"></app-horoscope-table>
      </div>
      <div class="side-info">
        <div class="bad-property-mapping">
          <div>
            <app-bad-property-chart
              [badPropertyMappingList]="currentHoroscope.badPropertyList"
            ></app-bad-property-chart>
          </div>
          <hr />
          <div class="accent-chart">
            <div class="side-row">
              <div class="side-text">合</div>
              <div class="side-value color-strip match"></div>
            </div>
            <div class="side-row">
              <div class="side-text">剋</div>
              <div class="side-value color-strip anti"></div>
            </div>
            <div class="side-row">
              <div class="side-text">斷氣</div>
              <div class="side-value color-strip cut"></div>
            </div>
          </div>
        </div>
        <div class="user-detail">
          <div *ngIf="chineseZodiac" class="detail-row">
            <span>生肖: </span>
            <span>{{ chineseZodiac }}</span>
          </div>
          <div *ngIf="member.handSize" class="detail-row">
            <span>手圍: </span>
            <span>{{ member.handSize }}</span>
          </div>
          <div *ngIf="member.fortunetellingType" class="detail-row">
            <span>精批或詳批: </span>
            <span>{{ member.fortunetellingType }}</span>
          </div>
          <div class="detail-row">
            <span>批算哪一年的運程: </span>
            <span>{{ member.atYear || currentYear }}</span>
          </div>
          <div *ngIf="member.crystalStyle" class="detail-row">
            <span>選擇的隔珠款式: </span>
            <span>{{ member.crystalStyle }}</span>
          </div>
          <div *ngIf="member.job" class="detail-row">
            <span>工作與是否有狀況要跟Novus講: </span>
            <span>{{ member.job }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-liuyue">
      <table>
        <thead>
          <tr>
            <th>月份</th>
            <th>時柱</th>
            <th>日柱</th>
            <th>月柱</th>
            <th>年柱</th>
            <th>大運</th>
            <th>流年</th>
            <th>流月</th>
            <th>評分</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let liuYue of currentHoroscope.monthFortune; let last = last">
            <tr>
              <ng-container *ngVar="liuYue.horoscopeResult.gan.reaction as reaction">
                <td rowspan="2">{{ liuYue.month }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.time)">{{ currentHoroscope.myFateSet.gan[0] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.day)" class="day-gan">
                  {{ currentHoroscope.myFateSet.gan[1] }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.month)">{{ currentHoroscope.myFateSet.gan[2] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.year)">{{ currentHoroscope.myFateSet.gan[3] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.bigFortune)">
                  {{ currentHoroscope.bigFortune.gan ? currentHoroscope.bigFortune.gan : '未起運' }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.yearFortune)">
                  {{ currentHoroscope.yearFortune.gan }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.monthFortune)"> {{ liuYue.monthFortune.gan }} </td>
                <td>
                  <div class="menu-item" mat-menu-item [matMenuTriggerFor]="menu">
                    <mat-menu #menu="matMenu">
                      <ng-container
                        [ngTemplateOutlet]="yinYanResult"
                        [ngTemplateOutletContext]="{ result: liuYue.horoscopeResult.gan }"
                      ></ng-container>
                    </mat-menu>
                    <ul>
                      <li *ngFor="let score of liuYue.horoscopeResult.gan.scores">{{ score }}</li>
                    </ul>
                  </div>
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container *ngVar="liuYue.horoscopeResult.zhi.reaction as reaction">
                <td [ngClass]="getGanZhiResultClass(reaction.time)">{{ currentHoroscope.myFateSet.zhi[0] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.day)">{{ currentHoroscope.myFateSet.zhi[1] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.month)">{{ currentHoroscope.myFateSet.zhi[2] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.year)">{{ currentHoroscope.myFateSet.zhi[3] }}</td>
                <td [ngClass]="getGanZhiResultClass(reaction.bigFortune)">
                  {{ currentHoroscope.bigFortune.zhi ? currentHoroscope.bigFortune.zhi : '未起運' }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.yearFortune)">
                  {{ currentHoroscope.yearFortune.zhi }}
                </td>
                <td [ngClass]="getGanZhiResultClass(reaction.monthFortune)">
                  {{ liuYue.monthFortune.zhi }}
                </td>
                <td>
                  <div class="menu-item" mat-menu-item [matMenuTriggerFor]="menu">
                    <mat-menu #menu="matMenu">
                      <ng-container
                        [ngTemplateOutlet]="yinYanResult"
                        [ngTemplateOutletContext]="{ result: liuYue.horoscopeResult.zhi }"
                      ></ng-container>
                    </mat-menu>
                    <ul>
                      <li *ngFor="let score of liuYue.horoscopeResult.zhi.scores">{{ score }}</li>
                    </ul>
                  </div>
                </td>
              </ng-container>
            </tr>
            <tr *ngIf="!last" class="margin-line">
              <td colspan="9"></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template let-result="result" #yinYanResult>
  <div class="menu-template">
    <div>陽流通: <br />{{ getYanScoreChanged(result) | async }}</div>
    <div>陰陽流通: <br />{{ getYinYanScoreChanged(result) | async }}</div>
  </div>
</ng-template>
