<div>
  <button mat-button color="primary" *ngIf="!showAddBtn && showEditBtn" (click)="onEdit()">編輯</button>
  <button mat-button color="primary" *ngIf="!showAddBtn" (click)="onEditDetail()">編輯細項</button>
  <button mat-button color="primary" *ngIf="!showAddBtn" (click)="onDelete()">刪除</button>
  <button mat-button color="primary" *ngIf="showRedirectBtn" (click)="onRedirectTo()">命盤分析</button>
  <button mat-button color="primary" *ngIf="!showAddBtn && showExport" (click)="onExport()">匯出PDF</button>
</div>
