<form [formGroup]="memberForm" class="component-container">
  <mat-table matSort [dataSource]="memberDataSource" class="mat-elevation-z8 novus-scroll-bar">
    <ng-container [matColumnDef]="Member.Name">
      <mat-header-cell *matHeaderCellDef>真實姓名</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <mat-form-field appearance="fill">
          <mat-label>會員姓名</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="Member.FacebookAccount">
      <mat-header-cell *matHeaderCellDef>臉書姓名</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.facebookAccount }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <mat-form-field appearance="fill">
          <mat-label>臉書姓名</mat-label>
          <input matInput formControlName="facebookAccount" />
        </mat-form-field>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="Member.Gender">
      <mat-header-cell *matHeaderCellDef>性別</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{ element.gender }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <mat-radio-group class="gender" aria-label="Select an option" [formControlName]="Member.Gender">
          <mat-radio-button [value]="MemberGender.Male">男</mat-radio-button>
          <mat-radio-button [value]="MemberGender.Female">女</mat-radio-button>
        </mat-radio-group>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="Member.DateOfBirth">
      <mat-header-cell *matHeaderCellDef mat-sort-header>出生年月日時(國歷)</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.dob | date: 'yyyy/MM/dd HH:mm' }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <app-dob-picker formControlName="dob"></app-dob-picker>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="Member.FortunetellingType">
      <mat-header-cell *matHeaderCellDef>精批或詳批</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.fortunetellingType }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <mat-radio-group class="gender" aria-label="Select an option" formControlName="fortunetellingType">
          <mat-radio-button [value]="FortunetellingType.meticulous">精批</mat-radio-button>
          <mat-radio-button [value]="FortunetellingType.detail">詳批</mat-radio-button>
        </mat-radio-group>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="Member.AtYear">
      <mat-header-cell *matHeaderCellDef>指定批算年分</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.atYear }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <mat-form-field appearance="fill">
          <mat-label>批算年分</mat-label>
          <mat-select formControlName="atYear">
            <mat-option *ngFor="let year of yearOptions" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="Member.CrystalStyle">
      <mat-header-cell *matHeaderCellDef>隔珠款式</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.crystalStyle }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <mat-form-field appearance="fill">
          <mat-label>樣式</mat-label>
          <input matInput formControlName="crystalStyle" />
        </mat-form-field>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="Member.Completed">
      <mat-header-cell *matHeaderCellDef mat-sort-header>已完成</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.completed" (change)="onCheckCompleted(element.id, $event.checked)">
        </mat-checkbox>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="btnGroup">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <app-member-control-panel
          [showAddBtn]="false"
          [showRedirectBtn]="true"
          (redirect)="onRedirect(row)"
          (edit)="onEditMember(row)"
          (delete)="onDeleteMember(row)"
          (editDetail)="onEditDetail(row)"
        ></app-member-control-panel>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <button
          mat-flat-button
          color="primary"
          *ngIf="isEditingStatus"
          (click)="onUpdateMember()"
          [disabled]="memberForm.invalid"
        >
          更新
        </button>
        <button
          mat-flat-button
          color="primary"
          *ngIf="isAddingStatus"
          (click)="onAddMember()"
          [disabled]="memberForm.invalid"
        >
          新增
        </button>
        <button
          mat-flat-button
          color="primary"
          *ngIf="isAddingStatus"
          (click)="onAddNextMember()"
          [disabled]="memberForm.invalid"
        >
          新增下一筆
        </button>
        <button mat-button (click)="onCancel()">取消</button>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row
      [class.hide]="!isAddingStatus && !isEditingStatus"
      *matFooterRowDef="displayedColumns; sticky: true"
    >
    </mat-footer-row>
    <div class="no-data" *matNoDataRow> 查無資料 </div>
  </mat-table>
</form>
