<form [formGroup]="memberForm" class="component-container">
  <mat-table matSort [dataSource]="memberDataSource" class="mat-elevation-z8 novus-scroll-bar">
    <!-- TODO: 批量選取刪除 -->
    <!-- <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container> -->

    <ng-container [matColumnDef]="member.Name">
      <mat-header-cell *matHeaderCellDef>姓名</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <mat-form-field appearance="fill">
          <mat-label>會員姓名</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="member.Gender">
      <mat-header-cell *matHeaderCellDef>性別</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{ element.gender }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <mat-radio-group class="gender" aria-label="Select an option" formControlName="gender">
          <mat-radio-button [value]="memberGender.Male">男</mat-radio-button>
          <mat-radio-button [value]="memberGender.Female">女</mat-radio-button>
        </mat-radio-group>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="member.DateOfBirth">
      <mat-header-cell *matHeaderCellDef mat-sort-header>出生日期</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.dob | date: 'yyyy/MM/dd HH:mm' }} </mat-cell>
      <mat-footer-cell *matFooterCellDef class="footer-cell">
        <app-dob-picker formControlName="dob"></app-dob-picker>
      </mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="member.Completed">
      <mat-header-cell *matHeaderCellDef mat-sort-header>已完成</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.completed" (change)="onCheckCompleted(element.id, $event.checked)">
        </mat-checkbox>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container [matColumnDef]="member.Comment">
      <mat-header-cell *matHeaderCellDef>備註</mat-header-cell>
      <mat-cell *matCellDef="let element"> <div class="comment novus-scroll-bar" [innerText]="element.comment"></div> </mat-cell>
      <mat-footer-cell *matFooterCellDef="let element" class="footer-cell">
        <mat-form-field class="insert-comment" appearance="fill">
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="btnGroup">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <app-member-control-panel
          [showAddBtn]="false"
          [showRedirectBtn]="true"
          (redirect)="onRedirect(row)"
          (edit)="onEditMember(row)"
          (delete)="onDeleteMember(row)"
        ></app-member-control-panel>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <button
          mat-flat-button
          color="primary"
          *ngIf="isEditingStatus"
          (click)="onUpdateMember()"
          [disabled]="memberForm.invalid"
        >
          更新
        </button>
        <button
          mat-flat-button
          color="primary"
          *ngIf="isAddingStatus"
          (click)="onAddMember()"
          [disabled]="memberForm.invalid"
        >
          新增
        </button>
        <button
          mat-flat-button
          color="primary"
          *ngIf="isAddingStatus"
          (click)="onAddNextMember()"
          [disabled]="memberForm.invalid"
        >
          新增下一筆
        </button>
        <button mat-button (click)="onCancel()">取消</button>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row
      [class.hide]="!isAddingStatus && !isEditingStatus"
      *matFooterRowDef="displayedColumns; sticky: true"
    >
    </mat-footer-row>
  </mat-table>
</form>
