<div class="control-panel">
  <app-member-control-panel
    [showAddBtn]="!selection.hasValue()"
    [showEditBtn]="false"
    [showDeleteBtn]="false"
    (add)="isAddingStatus = true"
  ></app-member-control-panel>
  <mat-form-field appearance="standard">
    <mat-label>搜尋</mat-label>
    <input matInput (keyup)="onFilter(input.value)" placeholder="請輸入要查找字串" #input />
  </mat-form-field>
</div>
<app-member-table
  [selection]="selection"
  [(isAddingStatus)]="isAddingStatus"
  [searchText]="searchText"
></app-member-table>
