<div *ngIf="horoscopeList.length" class="container">
  <button mat-button (click)="onPrevYear()" [disabled]="currentYear - 1 <= minYear">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <div class="table-container">
    <div
      *ngFor="let scope of horoscopeList[currentIndex]"
      class="horoscope-table"
      (click)="onRedirectToResult(scope.year)"
    >
      <div class="overlay"></div>
      <div class="year">{{ scope.year }} <mat-icon *ngIf="scope.year === atYear">star</mat-icon></div>
      <div>
        <app-horoscope-table [currentHoroscope]="scope"></app-horoscope-table>
      </div>
    </div>
  </div>

  <button mat-button (click)="onNextYear()" [disabled]="currentYear + 1 >= maxYear">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
