<div class="container">
  <div class="novus-logo"></div>
  <div class="login">
    <div class="panel">
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label>帳號</mat-label>
        <input matInput appKeyEvent [formControl]="email" (enter)="onLogin()" />
        <mat-error *ngIf="email.hasError('required')">請輸入帳號</mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label>密碼</mat-label>
        <input matInput appKeyEvent type="password" [formControl]="password" (enter)="onLogin()" />
        <mat-error *ngIf="password.hasError('required') && password.dirty">請輸入密碼</mat-error>
      </mat-form-field>
      <small class="warning">{{ errorMsg$ | async }}</small>
      <button mat-button (click)="onLogin()">登入</button>
    </div>
  </div>
</div>
