.panel-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.panel-content {
  width: 70vw;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}
