<div class="container" *ngIf="member">
  <div class="panel-header">
    <button mat-button (click)="onAddYear(-1)" [disabled]="currentYear <= minYear">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="title">
      {{ member.name }}
      <input class="input-year" [value]="currentYear" (change)="updateYear(input.value)" #input />
    </div>
    <button mat-button (click)="onAddYear(1)" [disabled]="currentYear >= maxYear">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="panel-content">
    <table>
      <thead>
        <tr>
          <th>時</th>
          <th>日</th>
          <th>月</th>
          <th>年</th>
          <th>大運</th>
          <th>流年</th>
        </tr>
      </thead>
      <tbody *ngIf="currentHoroscope">
        <tr>
          <ng-container *ngVar="currentHoroscope.horoscopeResult.gan.reaction as reaction">
            <td [class.combination]="reaction['時住已作用']">{{ currentHoroscope.myFateSet.gan[0] }}</td>
            <td [class.combination]="reaction['日住已作用']">{{ currentHoroscope.myFateSet.gan[1] }}</td>
            <td [class.combination]="reaction['月住已作用']">{{ currentHoroscope.myFateSet.gan[2] }}</td>
            <td [class.combination]="reaction['年住已作用']">{{ currentHoroscope.myFateSet.gan[3] }}</td>
            <td [class.combination]="reaction['大運已作用'] && !reaction['大運被剋']">
              <mat-icon class="restriction" *ngIf="reaction['大運被剋']">close</mat-icon>
              {{ currentHoroscope.bigFortune.gan ? currentHoroscope.bigFortune.gan : '未起運' }}
            </td>
            <td [class.combination]="reaction['流年已作用'] && !reaction['流年被剋']">
              <mat-icon class="restriction" *ngIf="reaction['流年被剋']">close</mat-icon>
              {{ currentHoroscope.yearFortune.gan }}
            </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container *ngVar="currentHoroscope.horoscopeResult.zhi.reaction as reaction">
            <td [class.combination]="reaction['時住已作用']">{{ currentHoroscope.myFateSet.zhi[0] }}</td>
            <td [class.combination]="reaction['日住已作用']">{{ currentHoroscope.myFateSet.zhi[1] }}</td>
            <td [class.combination]="reaction['月住已作用']">{{ currentHoroscope.myFateSet.zhi[2] }}</td>
            <td [class.combination]="reaction['年住已作用']">{{ currentHoroscope.myFateSet.zhi[3] }}</td>
            <td [class.combination]="reaction['大運已作用'] && !reaction['大運被剋']">
              <mat-icon class="restriction" *ngIf="reaction['大運被剋']">close</mat-icon>
              {{ currentHoroscope.bigFortune.zhi ? currentHoroscope.bigFortune.zhi : '未起運' }}
            </td>
            <td [class.combination]="reaction['流年已作用'] && !reaction['流年被剋']">
              <mat-icon class="restriction" *ngIf="reaction['流年被剋']">close</mat-icon>
              {{ currentHoroscope.yearFortune.zhi }}
            </td>
          </ng-container>
        </tr>
      </tbody>
      <tfoot *ngIf="currentHoroscope">
        <tr>
          <td colspan="3">
            <div class="result-board">
              <div class="score-board">
                <span>天干受剋: </span>
                <ul *ngIf="currentHoroscope.horoscopeResult.gan.scores.length; else none">
                  <li *ngFor="let score of currentHoroscope.horoscopeResult.gan.scores">
                    {{ score.value }}({{ badProperty(score.property) }})
                  </li>
                </ul>
                <ng-template #none>
                  <span>無</span>
                </ng-template>
              </div>
              <div class="yinyan-board">
                <div>
                  天干陽流通: <br />
                  {{ currentHoroscope.horoscopeResult.gan.yanScore }}
                </div>
                <div>天干陰陽流通: <br />{{ currentHoroscope.horoscopeResult.gan.yinYanScore }}</div>
              </div>
            </div>
          </td>
          <td colspan="3">
            <div class="result-board">
              <div class="score-board">
                <span>地支受剋: </span>
                <ul *ngIf="currentHoroscope.horoscopeResult.zhi.scores.length; else none">
                  <li *ngFor="let score of currentHoroscope.horoscopeResult.zhi.scores">
                    {{ score.value }}{{ badProperty(score.property) }}
                  </li>
                </ul>
                <ng-template #none>
                  <span>無</span>
                </ng-template>
              </div>
              <div class="yinyan-board">
                <div>
                  地支陽流通: <br />
                  {{ currentHoroscope.horoscopeResult.zhi.yanScore }}
                </div>
                <div>
                  地支陰陽流通: <br />
                  {{ currentHoroscope.horoscopeResult.zhi.yinYanScore }}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="panel-liuyue">
    <table>
      <thead>
        <tr>
          <th>月份</th>
          <th>時</th>
          <th>日</th>
          <th>月</th>
          <th>年</th>
          <th>大運</th>
          <th>流年</th>
          <th>流月</th>
          <th>評分</th>
        </tr>
      </thead>
      <tbody *ngIf="currentHoroscope">
        <ng-container *ngFor="let liuYue of currentHoroscope.monthFortune; let last = last">
          <tr>
            <ng-container *ngVar="liuYue.ganResult.reaction as reaction">
              <td rowspan="2">{{ liuYue.month }}</td>
              <td [class.combination]="reaction['時住已作用']">{{ currentHoroscope.myFateSet.gan[0] }}</td>
              <td [class.combination]="reaction['日住已作用']">{{ currentHoroscope.myFateSet.gan[1] }}</td>
              <td [class.combination]="reaction['月住已作用']">{{ currentHoroscope.myFateSet.gan[2] }}</td>
              <td [class.combination]="reaction['年住已作用']">{{ currentHoroscope.myFateSet.gan[3] }}</td>
              <td [class.combination]="reaction['大運已作用'] && !reaction['大運被剋']">
                <mat-icon class="restriction" *ngIf="reaction['大運被剋']">close</mat-icon>
                {{ currentHoroscope.bigFortune.gan ? currentHoroscope.bigFortune.gan : '未起運' }}
              </td>
              <td
                [ngClass]="{
                  combination: reaction['流年已作用'] && !reaction['流年被剋'],
                  interruption: reaction['流年斷氣']
                }"
              >
                <mat-icon class="restriction" *ngIf="reaction['流年被剋']">close</mat-icon>
                {{ currentHoroscope.yearFortune.gan }}
              </td>
              <td
                [ngClass]="{
                  combination: reaction['流月已作用'] && !reaction['流月被剋']
                }"
              >
                <mat-icon class="restriction" *ngIf="reaction['流月被剋']">close</mat-icon>
                {{ liuYue.gan }}
              </td>
              <td>{{ convertLiuYueScores(liuYue.ganResult.scores) }}</td>
            </ng-container>
          </tr>
          <tr>
            <ng-container *ngVar="liuYue.zhiResult.reaction as reaction">
              <td [class.combination]="reaction['時住已作用']">{{ currentHoroscope.myFateSet.zhi[0] }}</td>
              <td [class.combination]="reaction['日住已作用']">{{ currentHoroscope.myFateSet.zhi[1] }}</td>
              <td [class.combination]="reaction['月住已作用']">{{ currentHoroscope.myFateSet.zhi[2] }}</td>
              <td [class.combination]="reaction['年住已作用']">{{ currentHoroscope.myFateSet.zhi[3] }}</td>
              <td [class.combination]="reaction['大運已作用'] && !reaction['大運被剋']">
                <mat-icon class="restriction" *ngIf="reaction['大運被剋']">close</mat-icon>
                {{ currentHoroscope.bigFortune.zhi ? currentHoroscope.bigFortune.zhi : '未起運' }}
              </td>
              <td
                [ngClass]="{
                  combination: reaction['流年已作用'] && !reaction['流年被剋'],
                  interruption: reaction['流年斷氣']
                }"
              >
                <mat-icon class="restriction" *ngIf="reaction['流年被剋']">close</mat-icon>
                {{ currentHoroscope.yearFortune.zhi }}
              </td>
              <td
                [ngClass]="{
                  combination: reaction['流月已作用'] && !reaction['流月被剋']
                }"
              >
                <mat-icon class="restriction" *ngIf="reaction['流月被剋']">close</mat-icon>
                {{ liuYue.zhi }}
              </td>
              <td>{{ convertLiuYueScores(liuYue.zhiResult.scores) }}</td>
            </ng-container>
          </tr>
          <tr *ngIf="!last" class="margin-element">
            <td colspan="9"></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
