<div class="container" *ngIf="member">
  <div class="panel-header">
    <button mat-button (click)="onAddYear(-1)" [disabled]="currentYear <= minYear">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="title">
      {{ member.name }}
      <input class="input-year" [value]="currentYear" (change)="updateYear(input.value)" #input />
    </div>
    <button mat-button (click)="onAddYear(1)" [disabled]="currentYear >= maxYear">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="panel-content">
    <table>
      <thead>
        <tr>
          <th>時</th>
          <th>日</th>
          <th>月</th>
          <th>年</th>
          <th>大運</th>
          <th>流年</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="currentGan">
          <ng-container *ngVar="currentGan.horoscopeResult.reaction as reaction">
            <td [class.combination]="reaction['時住已作用']">{{ currentGan.myFateSet[0] }}</td>
            <td [class.combination]="reaction['日住已作用']">{{ currentGan.myFateSet[1] }}</td>
            <td [class.combination]="reaction['月住已作用']">{{ currentGan.myFateSet[2] }}</td>
            <td [class.combination]="reaction['年住已作用']">{{ currentGan.myFateSet[3] }}</td>
            <td [class.combination]="reaction['大運已作用'] && !reaction['大運被剋']">
              <mat-icon class="restriction" *ngIf="reaction['大運被剋']">close</mat-icon>
              {{ currentGan.bigFortune }}
            </td>
            <td [class.combination]="reaction['流年已作用'] && !reaction['流年被剋']">
              <mat-icon class="restriction" *ngIf="reaction['流年被剋']">close</mat-icon>
              {{ currentGan.yearFortune }}
            </td>
          </ng-container>
        </tr>
        <tr *ngIf="currentZhi">
          <ng-container *ngVar="currentZhi.horoscopeResult.reaction as reaction">
            <td [class.combination]="reaction['時住已作用']">{{ currentZhi.myFateSet[0] }}</td>
            <td [class.combination]="reaction['日住已作用']">{{ currentZhi.myFateSet[1] }}</td>
            <td [class.combination]="reaction['月住已作用']">{{ currentZhi.myFateSet[2] }}</td>
            <td [class.combination]="reaction['年住已作用']">{{ currentZhi.myFateSet[3] }}</td>
            <td [class.combination]="reaction['大運已作用'] && !reaction['大運被剋']">
              <mat-icon class="restriction" *ngIf="reaction['大運被剋']">close</mat-icon>
              {{ currentZhi.bigFortune }}
            </td>
            <td [class.combination]="reaction['流年已作用'] && !reaction['流年被剋']">
              <mat-icon class="restriction" *ngIf="reaction['流年被剋']">close</mat-icon>
              {{ currentZhi.yearFortune }}
            </td>
          </ng-container>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td *ngIf="currentGan" colspan="3">
            <div class="result-board">
              <div class="score-board">
                <span>天干受剋: </span>
                <ul *ngIf="currentGan.horoscopeResult.scores.length; else none">
                  <li *ngFor="let score of currentGan.horoscopeResult.scores">{{ score }}</li>
                </ul>
                <ng-template #none>
                  <span>無</span>
                </ng-template>
              </div>
              <div class="yinyan-board">
                <div
                  >天干陽流通: <br />
                  {{ currentGan.horoscopeResult.yanScore }}</div
                >
                <div>天干陰陽流通: <br />{{ currentGan.horoscopeResult.yinYanScore }}</div>
              </div>
            </div>
          </td>
          <td *ngIf="currentZhi" colspan="3">
            <div class="result-board">
              <div class="score-board">
                <span>地支受剋: </span>
                <ul *ngIf="currentZhi.horoscopeResult.scores.length; else none">
                  <li *ngFor="let score of currentZhi.horoscopeResult.scores">{{ score }}</li>
                </ul>
                <ng-template #none>
                  <span>無</span>
                </ng-template>
              </div>
              <div class="yinyan-board">
                <div
                  >地支陽流通: <br />
                  {{ currentZhi.horoscopeResult.yanScore }}</div
                >
                <div
                  >地支陰陽流通: <br />
                  {{ currentZhi.horoscopeResult.yinYanScore }}</div
                >
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
