<h2 mat-dialog-title> 編輯詳細資訊 </h2>
<div class="basic-info">
  <div class="title">
    <span class="user-name">{{ member.name }}</span
    >基本資料
  </div>
  <div class="readonly-row">
    <span>臉書名稱:</span>
    <span>{{ member.facebookAccount || '無' }}</span>
  </div>
  <div class="readonly-row">
    <span>性別:</span>
    <span>{{ member.gender }}</span>
  </div>
  <div class="readonly-row">
    <span>出生日期:</span>
    <span>{{ member.dob | date: 'yyyy/MM/dd HH:mm' }}</span>
  </div>
</div>
<form *ngIf="form" class="content" [formGroup]="form">
  <div class="edit-row">
    <mat-form-field appearance="outline">
      <mat-label>手圍</mat-label>
      <input matInput type="text" [formControlName]="Member.HandSize" />
    </mat-form-field>
  </div>
  <div class="edit-row">
    <mat-form-field appearance="outline">
      <mat-label>隔珠款式</mat-label>
      <input matInput [formControlName]="Member.CrystalStyle" />
    </mat-form-field>
  </div>
  <div class="edit-row">
    <mat-form-field appearance="outline">
      <mat-label>工作職業與是否有狀況要跟Novus講</mat-label>
      <input matInput [formControlName]="Member.Job" />
    </mat-form-field>
  </div>
</form>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>取消</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-flat-button color="primary" (click)="onUpdate()">更新</button>
</mat-dialog-actions>
