<header class="main-header" *ngIf="!isLoginPage && isRendered">
  <div class="header-container">
    <div class="logo">
      <div class="novus-logo"></div>
      <h1 (click)="onLogo()">NOVUS 晶礦人生</h1>
    </div>
    <div class="user">
      <button mat-icon-button (click)="onOpenSetting()"><mat-icon>settings</mat-icon></button>
      <div *ngIf="userInfo$ | async as user">{{ user.email }}</div>
      <div class="vertical-line"></div>
      <button class="logout" mat-stroked-button (click)="onLogout()">登出</button>
    </div>
  </div>
</header>

<header *ngIf="!isLoginPage && isRendered" class="page-header">
  <button *ngIf="!isMainPage" mat-button (click)="onBack()"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <h1>{{ title }}</h1>
  <div *ngIf="openPdfButton" class="control-btn">
    <div class="vertical-line"></div>
    <button class="export-pdf" color="primary" mat-icon-button (click)="onExportPdf()" #exportPdf>
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
  </div>
</header>

<div *ngIf="isLoading$ | async" class="global-loading">
  <app-loading [bounceRadius]="50"></app-loading>
</div>

<main [class.full-screen]="isLoginPage">
  <router-outlet (activate)="onMainActivated(outlet.activatedRouteData)" #outlet="outlet"></router-outlet>
</main>
