main {
  height: 100%;
  margin: 20px 15px;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #c3dcd9;

  h1 {
    margin: auto;
    color: white;
    font-weight: 700;
  }

  button {
    position: absolute;
    left: 0;
  }

  mat-icon {
    width: auto;
    height: auto;
    font-size: 30px;
  }
}
