:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.setting-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .row-text {
    font-weight: 700;
  }
}

.mat-dialog-content {
  height: 100%;
  padding-top: 12px;
}
