.btn-group {
  display: flex;
  align-items: center;
}

.gray {
  color: #707070;
}

mat-icon {
  cursor: pointer;
}

.opacity {
  opacity: 0;
}

.time-picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 120px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);

  .time-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

    input {
      width: 60px;
      height: 30px;
      text-align: center;
    }
  }
}
